#p1{
    margin-left: 20px;
    border: 1px solid blue;
}
#p2{
    margin-top: 50px;
    border:2px solid purple;
    border-top: purple dashed;
    border-bottom: purple dashed;
}
#p3{
    margin-bottom: 60px;
    border:40px solid cadetblue;
    border-style: dot-dash;
}
#p4{}