header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width : 270px;
    height : 120px;
}
li{
    padding: 60px;
}