header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
logo{
    width : 270px;
    height : 120px;
}
li{
    padding: 60px;
}
header{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}
main{
    display: flex;
    flex-direction: column;
}
slika{
    display: flex;
    justify-content: flex-end;
    height: 2px;
    width: 1px;
}
