div{
    height: 200px;
    width: 200px;
    }
#p1{
    background-color: purple;
}
#p2{
    background-color: lightblue;
    position: relative;
    left: 200px;
}
#p3{
    background-color: lightgreen;
}