header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
ol{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    padding: 60px;
}
body{
    font-family: "Times New Roman", Helvetica, sans-serif;
}
html{
    background-color: blanchedalmond;
}